#### 전국평생학습강좌표준데이터
- drop : 교육시작시각,교육종료시각,강좌내용,운영기관전화번호
- columm 별 적절한 dtype 지정 - > astype (원본값 수정방법, 1: 현재값 업데이트, 2: astype의 키워드 옵션사용)
    * 수치값 : np.int64 / np.float64
    * 종류를 구분하는 문자열(label): category
    * 날짜 : np.datetime64
    * 이외 : object
- 전체 DataFrame에 대한 describe 결과보기(describe 키워드 옵션 --> Documentation 참조)
- 항목(columm)별 결측지/오류치/이상치 갯수 파악

In [20]:
import numpy as np
import pandas as pd

pd_data = pd.read_csv('전국평생학습강좌표준데이터.csv',encoding='cp949')

#pd_data.drop(['교육시작시각','교육종료시각','강좌내용','운영기관전화번호'],axis = 1,inplace=True)
pd_data.head()
pd_data.dtypes

강좌명                object
강사명                object
교육시작일자             object
교육종료일자             object
교육시작시각             object
교육종료시각             object
강좌내용               object
교육대상구분             object
교육방법구분             object
운영요일               object
교육장소               object
강좌정원수               int64
수강료                 int64
교육장도로명주소           object
운영기관명              object
운영기관전화번호           object
접수시작일자             object
접수종료일자             object
접수방법구분             object
선정방법구분             object
홈페이지주소             object
직업능력개발훈련비지원강좌여부    object
학점은행제평가(학점)인정여부    object
평생학습계좌제평가인정여부      object
데이터기준일자            object
제공기관코드             object
제공기관명              object
dtype: object

In [29]:
pd_data[['교육시작일자','교육종료일자','접수시작일자','접수종료일자','데이터기준일자']].astype(np.datetime64,copy=False)

          교육시작일자     교육종료일자     접수시작일자     접수종료일자    데이터기준일자
0     2022-01-01 2022-12-31 2022-01-01 2022-12-31 2022-11-23
1     2022-01-01 2022-12-31 2022-01-01 2022-12-31 2022-11-23
2     2022-01-01 2022-12-31 2022-01-01 2022-12-31 2022-11-23
3     2022-01-01 2022-12-31 2022-01-01 2022-12-31 2022-11-23
4     2022-01-01 2022-12-31 2022-01-01 2022-12-31 2022-11-23
...          ...        ...        ...        ...        ...
26530 2022-11-17 2022-12-15 2022-09-05 2022-09-30 2022-09-29
26531 2022-10-07 2022-11-25 2022-09-05 2022-09-30 2022-09-29
26532 2022-10-07 2022-12-09 2022-09-05 2022-09-30 2022-09-29
26533 2022-10-07 2022-12-09 2022-09-05 2022-09-30 2022-09-29
26534 2022-10-07 2022-11-25 2022-09-05 2022-09-30 2022-09-29

[26535 rows x 5 columns]

In [31]:
day = pd_data['운영요일'].astype('category')
#day
day_f = pd.DataFrame({'label':day,'codes':day.cat.codes})
day_f

               label  codes
0      월+화+수+목+금+토+일     93
1      월+화+수+목+금+토+일     93
2      월+화+수+목+금+토+일     93
3      월+화+수+목+금+토+일     93
4      월+화+수+목+금+토+일     93
...              ...    ...
26530              목     22
26531              금      6
26532              금      6
26533              금      6
26534              금      6

[26535 rows x 2 columns]